*{
    margin: 0;
    padding: 0;
}
:root{
    --color--fondo:#B3D8A8;
    --color--letras--prinicipal:#FBFFE4;
    --letra--titulo:"Alfa Slab One", serif;
}
/*quiero colores pasteles*/
body{
    box-sizing: border-box;
    background-color: var(--color--fondo);
}
.titulo__principal{
    font-family: var(--letra--titulo);
    font-weight: 400;
    font-style: normal;  
    color: var(--color--letras--prinicipal) ;
    text-align: center;
}
.contenedor__titulo{
    display: flex;
    justify-content: center;
    margin: 15% 10%;
    /* 
    esto significa que
    arriba y abajo = 10% de padding
    derecha y izquierda = 10% padding
    */
}