*{
    margin: 0;
    padding: 0;
}
 /* 
 colores de fondo para ir probando
  1) azul como frances = #03071e
  2) rosa clarito = #F7CFD8
  3) beige = F4F8D3
  4) azul muy claro = #E6F1F7
  4) beige = #FAF3E0
*/
:root{
    --color--fondo: white;
    --color--letras--prinicipal: rgb(51, 50, 50);
    --letra--titulo:"Alfa Slab One", serif;
}
body{
    box-sizing: border-box;
    background-color: var(--color--fondo);
}
.header{
    padding: 2%;
    /* aplicamos padding para que 
    se separe todo el navegador
    del texto principal*/
}
.navegador{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.enlace__nav{
    text-decoration: none;
    color: #82dfd4;
    font-family: "Saira", serif;
}
.contenedor__titulo{
    display: flex;
    justify-content: center;
    margin: 10% 10%;
    /* 
    esto significa que
    arriba y abajo = 15% de padding
    derecha y izquierda = 10% padding
    */
}
.titulo__principal{
    font-family: var(--letra--titulo);
    font-weight: 400;
    font-style: normal;  
    color: var(--color--letras--prinicipal) ;
    text-align: center;
    font-size: 6.5em;
}
.parrafo__subtitulo{
    font-family: "ABeeZee", serif;
    font-weight: 500;
    font-style: normal;
    color: var(--color--letras--prinicipal);
    font-size: 1.2em;
}
.contenedor__enlace__boton{
    display: flex;
    justify-content: center;
}
.enlace__boton{
    text-decoration: none;
    font-family: var(--letra--titulo);
    font-size: 2em;
    color: var(--color--letras--prinicipal);
    border: 2px solid;
    width: 20%;
    text-align: center;
    border-radius: 20px;
    border-color: #71BBB2;
}
.enlace__boton:hover{
    background-color: #383737;
}
